.page{
  margin:0 auto;
  width: 50%;
  background: #1c1c1b;
  float: bottom;
  height: 50%;
}
.border{
  border-top: 20px solid #D1A227;
  align: center;
  width: 70%;
}
.card {
  box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}
.text_left{
  display: inline-block;
  vertical-align: auto;
  float: right;
  width: 70%;
}
.border2{
  border-top: 30px solid #1c1c1b;
  align: center;
  width: 70%;
}
.bottom{
  float:left;

}
